$color: red;
$othercolor: green;
$textcolor: blue;

p {
  color: $color;
  font-size: 60px;
}
div {
  color: $textcolor;
  font-size: 50px
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
.link {
  color: $othercolor;
  font-size: 45px;
}
.link:hover {
  color: $textcolor;
  font-size: 55px;
}
ul,ol{
  color: $textcolor;
  ul,ol{
    color: $color;
  }
}

%list {
  padding: 20px;
}

ul,ol{
  @extend %list;
}
