h1 {
  color: red;
}

div {
  color: green;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
a {
  color: green;
  font-size: 25px;
}

a:hover {
  color: blue;
  font-size: 30px;
}

ul, ol {
  color: green;
}
ul ul, ul ol, ol ul, ol ol {
  color: red;
}

.list {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}
